@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

* {
    box-sizing: border-box;
    font-family: "Roboto", "Open Sans", sans-serif;
}

body {
    margin: 0;
    background-color: #caf0f8;
}

/* Navigation bar */

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #0077b6;
    width: 100%;
}
nav a {
    display: block;
    text-decoration: none;
    color: #f6f6f6;
}
nav img {
    width: 80px;
}
nav > :first-child {
    margin-right: auto;
    padding: 10px;
}
nav > :nth-child(n + 2) {
    padding: 15px;
    border-radius: 60px;
    margin-right: 40px;
    font-size: 1.6rem;
}
nav > :nth-child(n + 2):hover {
    background-color: #03045e;
}
nav .active {
    background-color: #03045e;
}

/* Sidebar */

.main_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

aside {
    width: 10%;
    margin-top: 100px;
    font-size: 1.3rem;
    background-color: #0077b6;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
aside ul li {
    margin-top: 0px;
}
aside ul li a {
    text-decoration: none;
    display: block;
    padding: 20px 15px 20px 30px;
    color: #f6f6f6;
}
aside ul > :first-child a {
    border-top-left-radius: 40px;
}
aside ul > :last-child a {
    border-bottom-left-radius: 40px;
}
aside ul li a:hover {
    background-color: #03045e;
}

/* Blog posts */

.main_content {
    width: 90%;
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 80px 400px 400px;
    grid-gap: 50px;
    padding: 50px;
    margin: 0;
    justify-content: center;
}
.main_content h1 {
    grid-column: 1/3;
    font-size: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.blog_post {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 320px;
    justify-content: center;
    align-items: center;
    border-radius: 80px;

    box-shadow: 13px 13px 12px #bac5c7, -2px -4px 8px #bac5c7;
    background-color: #48cae4;
}

.blog_post img {
    width: 80px;
    display: block;
    grid-column: 1/2;
    margin: 30px 0 0 20px;
}
.blog_post p {
    grid-column: 1/4;
    font-size: 24px;
    margin: 10px 20px;
    text-align: left;
}
.blog_post h2 {
    font-size: 36px;
    grid-column: 2/4;
    margin-left: 0;
    margin-bottom: 0px;
}

.blog_post:hover {
    cursor: pointer;
    color: white;
    animation-name: epic;
    animation-duration: 0.3s;
    background-color: #5e60ce;
}

/* Animation */

@keyframes epic {
    0% {
        transform: rotate(1deg);
    }
    25% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #023e8a;
    margin-top: 100px;
}
.social_media {
    text-align: end;
}
.copyright {
    grid-column: 1/3;
    text-align: center;
    color: white;
}
footer > div {
    margin: 10px;
}
footer .social_media i {
    margin-left: 40px;
    font-size: 24px;
    color: white;
}
footer div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 30px;
    text-align: center;
}

footer .social_media i:hover,
.copyright:hover,
footer div a:hover {
    opacity: 0.7;
    cursor: pointer;
}
footer div a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Login page */

.flex_container {
    display: flex;
    height: 80vh;
}
.flex_container form {
    padding: 60px;
    margin: auto;
    background-color: #7fd6e6;
    border-radius: 10px;
    box-shadow: 15px 15px 10px #bac5c7, -4px -6px 10px #bac5c7;
    border: 1px solid #66c3d3;
}

.flex_container form .input_items {
    display: flex;
    flex-direction: column;
}

.flex_container form .input_items input[name="login"] {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.flex_container form .input_items input[type="submit"] {
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: auto;
    border: none;
    margin-top: 25px;
    color: white;
    background-color: #047ba3;
    font-size: 1em;
    font-weight: 700;
}
.flex_container form .input_items input[type="submit"]:hover {
    cursor: pointer;
    background-color: #034961;
}
.flex_container form .input_items .login {
    display: flex;
    flex-direction: row;
}
.flex_container form .input_items .login input {
    padding: 15px;
    margin: 10px 0px;
    width: 250px;
    outline: none;
    border: none;
    font-size: 1em;
}

.flex_container form .input_items i {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #0096c7;
    min-width: 50px;
    padding: 15px;
    text-align: center;
    margin: 10px 0;
}
.input_items > :last-child:hover {
    text-decoration: underline;
    cursor: pointer;
}
.input_items > :first-child {
    margin: 25px auto;
    font-size: 1.8rem;
}

/* Registration page */

.registration_container {
    display: flex;
    height: 80vh;
}
.registration_container form {
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 40px;

    background-color: #7fd6e6;
    border-radius: 10px;
    box-shadow: 15px 15px 10px #bac5c7, -4px -6px 10px #bac5c7;
    border: 1px solid #66c3d3;
}
.registration_container form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.registration_input {
    margin: 30px 10px;
}
.registration_input input {
    padding: 10px;
    outline: none;
    display: block;
    width: 70%;
}
.registration_input label {
    margin-right: 30px;
    font-size: 1.3rem;
    width: 30%;
}
.registration_submit {
    margin: 30px auto 20px auto;
}
.registration_submit input {
    outline: none;
    border: none;
    padding: 15px;
    background-color: #047ba3;
    font-size: 1.1em;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
}
.registration_submit input:hover {
    background-color: #034961;
}
.registration_container form h2 {
    margin: 0px auto 60px auto;
    text-decoration: underline;
    font-size: 2.2rem;
}
