@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

* {
    box-sizing: border-box;
    font-family: "Roboto", "Open Sans", sans-serif;
}

body {
    margin: 0;
    background-color: #f1f0f0;
}

/* Navigation bar */

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #0077b6;
    width: 100%;
}
nav a {
    display: block;
    text-decoration: none;
    color: #f6f6f6;
}
nav img {
    width: 80px;
}
nav > :first-child {
    margin-right: auto;
    padding: 10px;
}
nav > :nth-child(n + 2) {
    padding: 15px;
    border-radius: 60px;
    margin-right: 40px;
    font-size: 1.6rem;
}
nav > :nth-child(n + 2):hover {
    background-color: #03045e;
}
nav .active {
    background-color: #03045e;
}

/* Sidebar */

.main_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main_content {
    width: 90%;
}
aside {
    width: 10%;
    margin-top: 100px;
    font-size: 1.3rem;
    background-color: #0077b6;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
aside ul li {
    margin-top: 0px;
}
aside ul li a {
    text-decoration: none;
    display: block;
    padding: 20px 15px 20px 30px;
    color: #f6f6f6;
}
aside ul > :first-child a {
    border-top-left-radius: 40px;
}
aside ul > :last-child a {
    border-bottom-left-radius: 40px;
}
aside ul li a:hover {
    background-color: #03045e;
}
